.ctl-hslider, .ctl-vslider {
    box-sizing: content-box;
    position: relative;
    margin: 5px;
    padding: 0;
    color: white;
    background-color: gray;
    border: 2px solid gray;
}

.ctl-hslider {
    height: 30px;
}

.ctl-vslider {
    width: 30px;
    height: 300px; /*to modify, change below too*/
    float: left;
}

    .ctl-vslider > div {
        /*width = ctl-vslider.height*/
        width: 300px;
        /*height = ctl-vslider.width*/
        height: 30px;
        /*transform-origin = ctl-vslider.height/2 ctl-vslider.height/2 */
        transform-origin: 150px 150px;
        transform: rotate(-90deg);
        margin: 0;
    }

    .ctl-hslider:hover, .ctl-vslider:hover {
        background: linear-gradient(to bottom, gray 0%, darkgray 100%);
    }

.sld-fill, .sld-empty{
    position: absolute;
}
.sld-label, .sld-value {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%,-50%);
}

.sld-fill, .sld-label {
    left: 0%;
}

.sld-empty, .sld-value {
    right: 0%;
}

.sld-fill {
    /*copied from w3-green*/
    width: 100%;
    height: 100%;
    background-color: #4caf50;
}

.sld-empty {
    /*background-color: darkgray;*/
    width: 100%;
    height: 100%;
}

.sld-hidden-slider {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    opacity: 0;
    -webkit-appearance: slider-horizontal;
    position: absolute;
    cursor: pointer;
}

    .sld-hidden-slider[disabled] {
        cursor: default;
    }

    .sld-hidden-slider::-ms-tooltip {
        display: none;
    }

.ctl-panel {
    background-color: white;
    margin: 2px;
    border: 1px solid gray;
    overflow: hidden; /* required to contain floated children */
}

.ctl-panel-head {
    color: black;
    background-color: lightgray;
    /*background: linear-gradient(to right, lightblue 0%, lightgray 100%);*/
    /*copied from w3-block */
    display: block;
    width: 100%;
    /*copied from w3-button */
    text-align: left;
    border: none;
    border-bottom: 1px solid gray;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .ctl-panel-head:hover {
        background: linear-gradient(to bottom, lightgray 0%, darkgray 100%);
    }
